@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


$white:#fff;
$black:#000;
$pink:#dc3545;
$yellow:#ffc107;
$ff-family: 'Poppins', sans-serif;

.frag{
    display: flex;
    justify-self:center;
    align-items: center;
}
.frag .Tittle{
    margin-top: 6rem;
    display: inline-block;
    text-align: center;
}


